<template>
  <!-- <div class="col-md-4">

   
<div class="card">
     -->
  <tbody>


    <tr>


      <td>
        {{key}}
      </td>
      <td>
        <template v-if="volumeInfo.imageLinks">
          <img :src="volumeInfo.imageLinks.thumbnail" :alt="volumeInfo.title" class="card-img-top img-fluid">
        </template>
        <template v-else>
          <img src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg"
            :alt="volumeInfo.title" width="128" class="card-img-top">
        </template>
      </td>
      <td>
        <h5 class="card-title">{{ volumeInfo.title }}</h5>
      </td>
      <td>
        <p class="card-text">
          <span v-if="!volumeInfo.authors">No authors to display</span>
          <span v-else>
            By
            <span v-for="(author, index) in volumeInfo.authors" :key="index">
              <em>
                {{
                  index + 1 !== volumeInfo.authors.length && index + 1 !== book.volumeInfo.authors.length - 1 ? author + ', '
                  : index + 1 == book.volumeInfo.authors.length && index + 1 !== 1 ? ' and ' + author : author
                }}
              </em>
            </span>
          </span>
        </p>
      </td>
      <td>
        <div class="card-footer text-muted">
          {{ volumeInfo.publishedDate }}
        </div>
      </td>
    </tr>
  </tbody>
  
</template>
  
<script>
export default {
  data() {
    return {
      id: 0
    }
  },
  props: {
    book: {
      type: Object,
      required: true
    }
  },
  computed: {
    volumeInfo() {
      return this.book.volumeInfo
    }
  }
}
</script>
  
 
  