<template>
    <div>
      <input type="text" v-model="filterText" placeholder="Filter by title or author">
      <table>
        <thead>
          <tr>
            <th @click="sort('title')">Title</th>
            <th @click="sort('author')">Author</th>
            <th @click="sort('published')">Published Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in filteredBooks" :key="book.id">
            <td>{{ book.volumeInfo.title }}</td>
            <td>{{ book.volumeInfo.authors }}</td>
            <td>{{ book.volumeInfo.publishedDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        books: [],
        filterText: '',
        sortKey: '',
        sortDirection: 'asc'
      };
    },
    compatConfig: { MODE: 3 },
    created() {
      // Fetch book data from the REST API
      fetch('https://www.googleapis.com/books/v1/volumes?q=intitle:ethiopia')
        .then(response => response.json())
        .then(data => {
            console.log(data.items);
          this.books = data.items;
        });
    },
    computed: {
      filteredBooks() {
        return this.books.filter(book => {
          const search = this.filterText.toLowerCase();
          return (
            book.volumeInfo.title.toLowerCase().includes(search) ||
            book.volumeInfo.author.toLowerCase().includes(search)
          );
        });
      }
    },
    methods: {
      sort(key) {
        if (this.sortKey === key) {
          this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
        } else {
          this.sortKey = key;
          this.sortDirection = 'asc';
        }
  
        this.books.sort((a, b) => {
          const valueA = a[key];
          const valueB = b[key];
          return this.sortDirection === 'asc' ? valueA.localeCompare(valueB) : valueB.localeCompare(valueA);
        });
      }
    }
  };
  </script>
  