<template>
   <table class="table  table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">publishe Date</th>
    </tr>
  </thead>

      <BookItem v-for="book in books" :key="book.id" :book="book"/>

   </table>
 
      

      
     
  </template>
  
  <script>
  import BookItem from "./BookItem";
  
  export default {
    props: {
      books: {
        type: Array,
        required: true
      },
      
    },
    components: {
      BookItem
    }
  };
  </script>
  
  <style>
  </style>
  