<template>
    <!-- <form @submit.prevent="search">
        <div>
          <input type="text" v-model="keyword" placeholder="Search..." class="input" required>
          <input type="submit" value="Search" class="button">
        </div>
        <div>
          <label for="order">Order by</label>&nbsp;
          <select name="order" v-model="orderBy" @change="search">
            <option value="newest">newest</option>
            <option value="relevance">relevance</option>
          </select>
        </div>
      </form> -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Books</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     
    
    
    </ul>
    <form @submit.prevent="search">
        <div>
          <input type="search" v-model="keyword" placeholder="Search" aria-label="Search" class="form-control me-2" required>
          <input type="submit" value="Search" class="btn btn-outline-success">
        <!-- </div>
        <div> -->
         
        
          <!-- <label for="order">Order by</label>&nbsp; -->
          <select name="order" v-model="orderBy" @change="search"  class="form-select" aria-label="Default select example">
            <option selected>Sort by</option>
            <option value="newest">newest</option>
            <option value="relevance">relevance</option>
          </select>
        </div>
    
    </form>
  </div>
</div>
</nav>
</template>

<script>
export default {
    data() {
        return {
            books: [],
      keyword: '',
      orderBy: 'newest',
      maxResults: '10',
      loadState: '',
      searchData: ''
        }
    },
    methods: {
        setSearch(){
            this.$emit('setSearch', this.searchData)
        }
    },
    
}
</script>

