<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Books</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     
    
    
    </ul>
    <form  @submit.prevent="">
       
          <input type="search" v-model="keyword" placeholder="Search" aria-label="Search" class="form-control me-2" required>
          <button type="submit" @click="searchByTitle" value="Search" class="btn btn-outline-success">Search by title</button>
          <button type="submit" @click="searchByAuthor" value="Search" class="btn btn-outline-success">Search by author</button>
        <!-- </div>
        <div> -->
        
          <!-- <select name="order" v-model="orderBy" @change="search"  class="form-select" aria-label="Default select example">
            <option selected>Sort by</option>
            <option value="newest">newest</option>
            <option value="relevance">relevance</option>
          </select>
       -->
    
    </form>
  </div>
</div>
</nav>
  <div class="container-fluid">

    <!-- <h1>Google Books API with Vue</h1> -->
    <div class="query">
    </div>
    <div class="content">
      <div class="spinner-border text-success" v-if="loadState == 'loading'"><span
          class="visually-hidden">Loading...</span></div>
          <div class="container"><BookList v-if="loadState == 'success'" :books="books" /></div>
      
    </div>
  </div>
  <div>

  </div>
</template>

<script>

import BookList from '@/components/BooksList'

import axios from 'axios'

export default {
  name: 'App',
  data() {
    return {
      books: [],
      keyword: '',
      orderBy: 'newest',
      maxResults: '10',
      loadState: ''
    }
  },
  methods: {
    searchByTitle() {
      this.loadState = 'loading'
      axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=intitle:${this.keyword
          }&orderBy=${this.orderBy}&maxResults=${this.maxResults}`
        )
        .then(response => {
          console.log(response.data.items)
          this.books = response.data.items
          this.loadState = 'success'
        })
    },
    searchByAuthor() {
      this.loadState = 'loading'
      axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=inauthor:${this.keyword
          }&orderBy=${this.orderBy}&maxResults=${this.maxResults}`
        )
        .then(response => {
          console.log(response.data.items)
          this.books = response.data.items
          this.loadState = 'success'
        })
    }
  },
  components: {
    BookList,
    // NavBar

  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}

body,
html {
  position: relative;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

.content {
  position: relative;
}

/* Loader: shamelessly taken from https://codepen.io/veganben/pen/GAgsH */
/* .loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #2c3e50;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 0;
} */

@-webkit-keyframes rotate {

  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.input {
  border: 1px solid #eee;

  height: 40px;
  padding: 0;
  margin: 0;
  padding-left: 15px;

  font-size: 18px;
}


.query {
  margin-bottom: 30px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}</style>
